* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #442e69, #e9b5d2);
    padding: 10px;
}

.small-image {
    width: 100px; 
    height: auto; 
}

.saved-workouts {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.saved-workouts h2 {
    color: #442e69;
    margin-bottom: 20px;
}

.saved-workouts ul {
    padding: 0;
}

.saved-workouts li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 40px; /* Adjusted padding */
    user-select: none;
    cursor: pointer;
    position: relative;
}

.saved-workouts li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png); /* Update with your own image */
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

.saved-workouts li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #050505;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.saved-workouts li span:hover {
    background: #b9c0c7;
}

.delete-icon {
    margin-left: 10px;
    cursor: pointer;
}

/* Style for the "Start Workout" button */
.saved-workouts button {
    border: none;
    outline: none;
    padding: 16px 20px;
    background-color: #d185b5;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px; /* Added margin to match the layout */
    transition: background-color 0.3s;
}

.saved-workouts button:hover {
    background-color: #ac54aa;
}
